
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

    <div class="sidebar sidebar-right">
        <div class="widget">
            <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>首頁</h2>
            <ul class="arrow nav nav-tabs nav-stacked">
                <li class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a href="@Url.Action("Index","Home")">首頁</a>
                </li>
            </ul>
        </div><!-- Categories end -->

    </div><!-- Sidebar end -->
</div><!-- Sidebar Col end -->