<div class="clearfix _2pi4">
    <div class="_4bl9">
        <div class="_50f4">
            <p style="margin-left:-.6pt;"><span style="font-size:16px;">國際縱火人員調查協會(IAAI,INTERNATIONAL ASSOCIATION OF ARSON INVESTIGATORS,INC.)係於西元1949年成立，</span></p>

            <p style="margin-left:-.6pt;"><span style="font-size:16px;">其會員遍佈全世界各國，為目前全世界最大之火災調查專業組織</span></p>

            <p style="margin-left:-.6pt;"><span style="font-size:16px;">協會成立之宗旨，主要在於發表火災調查鑑定領域之最新研究心得或是相關案例討論，以研討會方式促進火災調查人員經驗與技術之交流</span></p>

            <p style="margin-left:-.6pt;"><span style="font-size:16px;">希望藉由火災調查人員、法官、檢察官、律師及大學教授等會員及非會員參加研習共同討論，以促進火災調查技術與經驗之交流。</span></p>
        </div>

        <div class="_50f4">&nbsp;</div>

        <div class="_50f4">
            <span style="font-size:16px;">本分會係<span style="line-height: 1.6em;">經內政部102年1月29日台內社字第1020091818號函，准予籌設</span></span>

            <p><span style="font-size:16px;">致力成為台灣的火災調查技術發展資訊中心</span></p>

            <p><span style="font-size:16px;"><span style="color:#FFA500;">提升火災調查人員之專業能力</span>，<span style="color:#FFA500;">精進火災調查人員研究技術</span>，<span style="color:#FFA500;">提升火災預防之成效</span></span></p>

            <p><span style="font-size:16px;">結合各領域從事火災調查人員，團結一致謀求共同福利，關懷社會並維護社會公理正義為宗旨</span></p>
        </div>
    </div>
</div>

