<p>受委託辦理，本協會授權對外聯絡窗口：</p>

<p>本協會電子信箱&nbsp;&nbsp;<span style="color: rgb(102, 102, 102); font-family: Arial, sans-serif; white-space: nowrap;">iaaitw119@gmail.com</span></p>

<p>=========================</p>

<p><span style="color: rgb(85, 85, 85); font-family: Roboto, 微軟正黑體, sans-serif; font-size: 14px;">國際縱火調查人員協會 台灣分會</span></p>

<p><span style="color: rgb(85, 85, 85); font-family: Roboto, 微軟正黑體, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>

<p style="box-sizing: border-box; margin: 0px 0px 10px; font-family: Roboto, 微軟正黑體, sans-serif; text-rendering: optimizeLegibility; line-height: 24px; color: rgb(85, 85, 85); font-size: 14px; -webkit-font-smoothing: antialiased !important;">統一編號：41119045</p>

<p style="box-sizing: border-box; margin: 0px 0px 10px; font-family: Roboto, 微軟正黑體, sans-serif; text-rendering: optimizeLegibility; line-height: 24px; color: rgb(85, 85, 85); font-size: 14px; -webkit-font-smoothing: antialiased !important;">&nbsp;</p>