<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">受委託辦理，本協會授權對外聯絡窗口：</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">本協會電子信箱&nbsp;&nbsp;<span style="color: rgb(102, 102, 102); font-family: Arial, sans-serif; white-space: nowrap;">iaaitw119@gmail.com</span></p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">=========================</p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><span style="color: rgb(85, 85, 85); font-family: Roboto, 微軟正黑體, sans-serif; font-size: 14px;">國際縱火調查人員協會 台灣分會</span></p>

<p style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;"><span style="color: rgb(85, 85, 85); font-family: Roboto, 微軟正黑體, sans-serif; font-size: 14px;">&nbsp;&nbsp;</span></p>